nav.main-nav {
	font-family: Verdana;
	text-align: right;
}

a.links {
	color: #FFF;
	text-decoration: none;
}

h1 {
	color: #FF6600;
	font-family: Verdana;
	font-size: 20pt;
	text-align: center;
}

h2 {
	color: #FFF;
	font-family: Arial;
	font-size: 16pt;
	text-align: center;
}

body {
	background-color: #1F282E;
}

p.text1 {
	color: #FFF;
	font-family: Arial;
	font-size: 14pt;
}

p.text2 {
	color: #FFF;
	font-family: Arial;
	font-size: 14pt;
	text-align: center;
}

img.profile-pic {
    display: block;
	margin-left: auto;
	margin-right: auto;
}

object.resume {
    display: block;
	margin-left: auto;
	margin-right: auto;
}